<!DOCTYPE html>
<html>
    <head>
        <title>MyPlaceMovies</title>
        <link rel = "stylesheet" href = "/css/styles.css"/>
        <link rel = "stylesheet" href = "/css/bootstrap.css"/>
    </head>
    <body>
      <div class="container">
        <header class="header clearfix">
          <nav>
            <ul class="nav nav-pills float-right">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              {{#if user}}
              <li class="nav-item">
                <a class="nav-link" href="/">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/friends">Friends</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/discussion">Discussion</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/newmovies">NewMovies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
              {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
              </li>
              {{/if}}
			  <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </nav>
          <h3 ><a class="text-muted" href="/home">MyPlaceMovies</a></h3>
        </header>      
        <div class="marketing">
            {{{body}}}
        </div>

      </main>

      <footer class="footer">
        <p>&copy; MyPlaceMovies 2017</p>
      </footer>

    </div>
    </body>
</html>