
<style>

#parent{ background: #8c1c13;
     padding:30px;
     }

.child {background:white;width:740px ;
     height:250px;
     margin:50px;
}

.centerAlignTitle{
     text-align:center;
}
.alignLeft{
     text-align:left;
}
     h1{
          color:white;
     }
     h4{
          color:#08415c;
     }
</style>


<div id="parent"> 
     
     
     <h1>About MyPlaceMovies</h1>
    <div class="child"><h4 class = "centerAlignTitle" >What is MyPlaceMovies?</h4>
          <p class="alignLeft">MyPlace Movies (MPM) is a personal hub for movie enthusiasts to rate, discuss, and comment about all movies that exist. We believe that movies should be a shared experience among friends and peers. The problem is the constant question of if a movie is fun, scary, or just worth watching. At MyPlaceMovies the process of picking a movie and watching with friends should be seamless and instant. After all nothing sounds more inviting with friends than my place and a movie.</p>         
    </div>
    <div class="child"><h4>How did MyPlaceMovies start?</h4>
          <p class="alignLeft">MyPlaceMovies came from the humble beginnings of Geoffrey Wong. A movie buff with strong desires to share his recommendations of films as well as his thoughts on the movies to his peers.Geoffrey came up the idea of a quick and easy platform for all movies buffs, afficionados, and newbies.</p>  
    </div>

    <div class="child"><h4>The Team</h4>
           
    </div>
     
     
     
    <div class="child"><h4>How do I sign up?</h4>
          <p class="alignLeft">MyPlace Movies (MPM) is a personal hub for movie enthusiasts to rate, discuss, and comment about all movies that exist. We believe that movies should be a shared experience among friends and peers. The problem is the constant question of if a movie is fun, scary, or just worth watching. At MyPlaceMovies the process of picking a movie and watching with friends should be seamless and instant. After all nothing sounds more inviting with friends than my place and a movie.</p>  
    </div>
        
</div>

