
<style>

#parent{ background: #8c1c13;
     padding:30px;
     }

.child {background:white;width:740px ;
     padding:30px;
     height:250px auto;
     margin:75px;
}

.centerAlignTitle{
     text-align:center;
}
.alignLeft{
     text-align:left;
}
     h1{
          color:white;
     }
     h4{
          color:#08415c;
     }
     
     
.cardInner {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    display: table;
    margin: 0 auto;
}

.cardInner:hover {
    box-shadow: 0 8px 16px 0 rgba(3,3,3,3);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}
     .outer{
          padding:20px;
     }     
     
     
</style>


<div id="parent"> 
     
     
     <h1>About MyPlaceMovies</h1>
    <div class="child"><h4 class = "centerAlignTitle" >What is MyPlaceMovies?</h4>
          <p class="alignLeft">MyPlace Movies (MPM) is a personal hub for movie enthusiasts to rate, discuss, and comment about all movies that exist. We believe that movies should be a shared experience among friends and peers. The problem is the constant question of if a movie is fun, scary, or just worth watching. At MyPlaceMovies the process of picking a movie and watching with friends should be seamless and instant. After all nothing sounds more inviting with friends than my place and a movie.</p>         
    </div>
    <div class="child"><h4>How did MyPlaceMovies start?</h4>
          <p class="alignLeft">MyPlaceMovies came from the humble beginnings of Geoffrey Wong. A movie buff with strong desires to share his recommendations of films as well as his thoughts on the movies to his peers.Geoffrey came up the idea of a quick and easy platform for all movies buffs, afficionados, and newbies.</p>  
    </div>

    <div class="child"><h4>The Team</h4>
          <div class = "outer">
                 <div class="cardInner">
                    <img src="image/nicko.jpg" alt="Avatar" style="width:100%">
                    <div class="container">
                         <h4><b>Nicko Soto</b></h4> 
                         <p><b>Computer Science</b><br>Nicko is passiotnate about movies and loves being able to head other people's thoughts on recent and old films.He worked primarily on the database aspects to the website ensuring user login and logout as well as movie sharing.</p> 

                    </div>
                 </div>  
          </div>
         <div class = "outer">
                 <div class="cardInner">
                    <img src="image/geoffrey.gif" alt="Avatar" style="width:100%">
                    <div class="container">
                         <h4><b>Geoffrey Wong</b></h4> 
                         <p><b>Computer Science</b><br>Geoffrey is the original idea creator behind MyPlaceMovies and wanted to bring the idea to life and heavily emphasized discussing movies. For that reason, Geoffrey primarily worked on the discussion section of the website.</p> 

                    </div>
                 </div>  
          </div>
         <div class = "outer">
                 <div class="cardInner">
                    <img src="image/vincent.jpg" alt="Avatar" style="width:100%">
                    <div class="container">
                         <h4><b>Vincent Truong</b></h4> 
                         <p><b>Computer Science</b><br>Vincent's go to move is to kick back and watch movie after movie. The idea of adding binge worthy movies to a list and recieving recommendations was his goal for MyPlaceMovies. He focussed mainly to the Home, About, and New Movies section of the website.</p>
                    </div>
                 </div>  
          </div>
         <div class = "outer">
                 <div class="cardInner">
                    <img src="image/austin.png" alt="Avatar" style="width:100%">
                    <div class="container">
                         <h4><b>Austin Schmidly</b></h4> 
                         <p><b>Computer Science</b><br>Austin has always been a purveyor of films. Always on the seen to look for more interesting films as much as hilariously bad. Austin focussed a lot on the registerring system and dashboard. 
                    </div>
                 </div>  
          </div>
         <div class = "outer">
                 <div class="cardInner">
                    <img src="image/ryan.jpg" alt="Avatar" style="width:100%">
                    <div class="container">
                         <h4><b>Ryan Klick</b></h4> 
                         <p><b>Computer Informatics</b><br>Ryan is a self titled movie maniac. He had a large focus and desire on ensuring a smooth system and sleek look. Ryan helped to create the concept designs, goals, and looks for the movie. Ryan as well helped on the friends section of the website</p>
                    </div>
                 </div>  
          </div>
         
         
         
    </div>
     
     
     
    <div class="child"><h4>How do I sign up?</h4>
          <p class="alignLeft">Just head to the top of our page and hit that register button and you are good to go! It is as simple as entering your name, adding movies you have watched and then adding other friends to your page.</p>  
    </div>
        
</div>

