<form style = 'float: left; padding: 5px;' method="post" action="/friends/addFriend" id = "discussionform">
    <h2>Enter a friends username</h2>
     <input type = "textarea" name = "name">
  <button type="submit" onClick = "window.location.reload()">Add Friend</button>
</form>
{{#if friendMovies}}
    {{#each friendMovies}}
        {{this.username}}
        {{#each this.movies}}
            {{this.title}}
            {{this.score}}
            {{this.thoughts}}
        {{/each}}
    {{/each}}
{{/if}}