<form style = 'float: left; padding: 5px;' method="post" action="/friends/addFriend" id = "discussionform">
    <h2>Enter a friends username</h2>
     <input type = "textarea" name = "name">
  <button type="submit" onClick = "window.location.reload()">Add Friend</button>
</form>
{{#if discussion}}
    {{#each discussion}}
    <li>{{this.poster}}</li>
    <li>{{this.post}}</li>
    {{/each}}
{{/if}}