<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <style>
          #main{ background:#08415c;padding:10px;}
          .tablechild {background:#08415c;height:auto;margin:20px;}
     
          #border { 
    border: 10px solid transparent;
    padding: 0px;
     border-color:#fff;
}
      
     </style>

     
<div id = "main">  
     
     <h3><font color = #fff>Welcome to MyPlaceMovies!</font></h3>
     <h4><font color = #fff>Movies that we watch:</font></h4>
     <h4><font color = #fff>Click on the movies to read more about them!</font></h4>
<div class = "tablechild">
     
     <table>

      <tr>
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/coco.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 8.9/10 <br /><br /> Despite his family's generations-old ban on music, young Miguel dreams of becoming an accomplished musician like his idol Ernesto de la Cruz. Desperate to prove his talent, Miguel finds himself in the stunning and colorful Land of the Dead. After meeting a charming trickster named Héctor, the two new friends embark on an extraordinary journey to unlock the real story behind Miguel's family history."></td>
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/thor.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 8.2/10 <br /><br /> Imprisoned on the other side of the universe, the mighty Thor finds himself in a deadly gladiatorial contest that pits him against the Hulk, his former ally and fellow Avenger. Thor's quest for survival leads him in a race against time to prevent the all-powerful Hela from destroying his home world and the Asgardian civilization."></td>
        <td style="padding:0 20px 50px 75px;"><img  id ="border"src = 'image/justice.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.2/10 <br /><br />Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists newfound ally Diana Prince to face an even greater threat. Together, Batman and Wonder Woman work quickly to recruit a team to stand against this newly awakened enemy. Despite the formation of an unprecedented league of heroes -- Batman, Wonder Woman, Aquaman, Cyborg and the Flash -- it may be too late to save the planet from an assault of catastrophic proportions."></td>
        <td style="padding:0 20px 50px 75px;"><img  id = "border"src = 'image/daddy2.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 6.2/10 <br /><br />Father and stepfather Dusty and Brad join forces to make Christmastime perfect for the children. Their newfound partnership soon gets put to the test when Dusty's old-school, macho dad and Brad's gentle father arrive to turn the holiday upside down. After a sudden change in plans, the four men decide to take the kids to a luxury resort for a fun-filled getaway that turns into a hilariously chaotic adventure."></td>
      </tr>
      <br>
      <tr>
        <td style="padding:0 20px 50px 75px;"><img  id = "border"src = 'image/disaster.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 8.2/10 <br /><br /> Tommy Wiseau and Greg Sestero become friends after meeting each other in an acting class in San Francisco. Hoping to achieve Hollywood stardom, Sestero moves to Los Angeles and signs on to appear in his buddy's project. Financed with his own money, Wiseau writes, directs and stars in The Room, a critically maligned movie that becomes a cult classic."></td>
        <td style="padding:0 20px 50px 75px;"><img id = "border" src = 'image/beauty.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.3/10 <br /><br />An adaptation of the fairy tale about a monstrous-looking prince and a young woman who fall in love."></td>    
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/gang.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 5.2/10 <br /><br />Al Capone recruits "Machine Gun" Jack McGurn to help protect his criminal empire in 1920s Chicago. McGurn soon rises through the ranks of the Italian mob, igniting the most brutal gang war the country has ever seen."></td>        
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/blade.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 8.4/10 <br /><br />Officer K (Ryan Gosling), a new blade runner for the Los Angeles Police Department, unearths a long-buried secret that has the potential to plunge what's left of society into chaos. His discovery leads him on a quest to find Rick Deckard (Harrison Ford), a former blade runner who's been missing for 30 years."></td>
      </tr>
      <tr>
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/water.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.7/10 <br /><br />Elisa is a mute, isolated woman who works as a cleaning lady in a hidden, high-security government laboratory in 1962 Baltimore. Her life changes forever when she discovers the lab's classified secret -- a mysterious, scaled creature from South America that lives in a water tank. As Elisa develops a unique bond with her new friend, she soon learns that its fate and very survival lies in the hands of a hostile government agent and a marine biologist."></td>      
        <td style="padding:0 20px 50px 75px;"><img id="border"src = 'image/roman.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 6.3/10 <br /><br />Roman J. Israel, Esq., a driven, idealistic defense attorney, finds himself in a tumultuous series of events that lead to a crisis and the necessity for extreme action."></td>
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/meyer.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.1/10 <br /><br />An estranged family gathers together in New York for an event celebrating the artistic work of their father."></td>
        <td style="padding:0 20px 50px 75px;"><img  id="border"src = 'image/saw.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.2/10 <br /><br />"></td>        
      </tr>
      <tr>
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/wolf.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.2/10 <br /><br />"></td>      
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/atomic.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.2/10 <br /><br />"></td>
        <td style="padding:0 20px 50px 75px;"><img id="border" src = 'image/getout.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.2/10 <br /><br />"></td>
        <td style="padding:0 20px 50px 75px;"><img  id="border"src = 'image/geo.jpg' width = "150" height = "200" data-toggle = "popover" data-html = "true" data-placement = "right" data-content = "Average Rating: 7.2/10 <br /><br />"></td>        
      </tr>
      
      
</table>
     </div>
</div>   

     


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>