<div id="loginForm">
  <form method="post" action="/users/login">
    <div class="container">
      <label>
        <input type="text" name="username" required>
        <div class="label-text">Username</div>
      </label>
    </div>
    <div class="container">
      <label>
        <input type="password" name="password" required>
        <div class="label-text">Password</div>
      </label>
    </div>
    <button type="submit" id="loginButton">Submit</button>
  </form>
</div>
