<form style = 'float: left; padding: 5px;' method="post" action="/newmovies/coco" id = "discussionform">
    <button type="submit" onClick = "window.location.reload()">Add Movie</button>
</form>
<br>
<form style = 'float: left; padding: 5px;' method="post" action="/newmovies/thor" id = "discussionform">
    <button type="submit" onClick = "window.location.reload()">Add Movie</button>
</form>
<form style = 'float: left; padding: 5px;' method="post" action="/newmovies/justiceleague" id = "discussionform">
    <button type="submit" onClick = "window.location.reload()">Add Movie</button>
</form>